$orange: #f68b21;
$gold: #ffc728;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@mixin interpolate(
  $properties,
  $min-screen,
  $max-screen,
  $min-value,
  $max-value
) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation(
          $min-screen,
          $min-value,
          $max-screen,
          $max-value
        );
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen;

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a * 100}vw #{$sign} #{$b});
}

// Indrek Pass also has a fantastic mixin here: http://sassmeister.com/gist/7f22e44ace49b5124eec

/* Single property */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$orange: #f68b21;
$gold: #ffc728;
body {
  font-family: Roboto;
  background: #f2f2f2;
  transition: all 0.5s ease;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  i {
    margin-left: 8px;
  }
}
/* Nav Bar */
nav {
  background: white;
  border-radius: 0px 0px 30px 30px;
  font-weight: 500;
  @include interpolate(font-size, 1024px, 1440px, 13px, 16px);
}
.navContainer {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  img {
    height: 95px;
    width: auto;
  }
}
.menus {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  height: 100%;
}
.navmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $gold;
  }
}
.menu {
  &:hover {
    background: $gold;
    color: black;
  }
}
.currentStudents {
  position: relative;
  width: 160px;
  height: 30px;

  a {
    display: block;
  }
  &:hover {
    background: $gold;
  }
  &:hover .currentStudentsDropdown {
    display: block;
    transition: all 0.5s ease;
  }
  &:hover i {
    transform: rotate(180deg);
    transition: all 0.2s ease;
  }
}
.prospectiveStudents {
  position: relative;
  width: 190px;
  a {
    display: block;
  }
  &:hover .prospectiveStudentsDropdown {
    display: block;
    transition: all 0.5s ease;
  }
  &:hover i {
    transform: rotate(180deg);
    transition: all 0.2s ease;
  }
}
.currentStudentsDropdown {
  position: absolute;
  top: 100%;
  width: 220px;
  align-self: flex-start;
  display: none;
  height: auto;
  background: $gold;
  a {
    padding: 15px;
  }
}
.prospectiveStudentsDropdown {
  position: absolute;
  top: 100%;
  display: none;
  position: absolute;
  align-self: flex-start;
  height: auto;
  width: 220px;
  background: $gold;
  a {
    padding: 15px;
  }
}
.events {
  width: 100px;
  a {
    padding: 5px 11px;
    color: white;
    background: $orange;
  }
}

.ourTeam {
  width: 85px;
  height: 30px;
}
.sponsors {
  width: 80px;
}
.contactUs {
  width: 92px;
  height: 30px;
}

/*Events*/
h2 {
  font-size: 2.3vw;
  background: $gold;
  display: inline-block;
  padding: 2px 6px;
  margin-bottom: 20px;
}
.pageTitle {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw;
}
hr {
  width: 10vw;
  border: solid 1px $orange;
  margin-top: 10px;
}
.eventPageContainer {
  width: 85%;
  margin: auto;
}
/*Holi*/
.leftevent {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftContent {
  p {
    width: 35vw;
    font-size: 0.95vw;
    line-height: 2.9vh;
  }
  .highlight {
    color: $orange;
    font-weight: 500;
    margin-top: 15px;
  }
  flex: 1;
}
.rightImage {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  img {
    width: 90%;
    height: auto;
  }
}
/*Bollywood Night*/
.rightevent {
  height: 80vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  .rightImage {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    img {
      width: 90%;
      height: auto;
    }
  }
  .leftContent {
    display: flex;
    justify-content: flex-end;
  }
}
/*Jhankaar*/
.jhankaarImage {
  width: 100% !important;
  height: auto;
}
/*Footer*/
footer {
  height: 7vw;
  background: $orange;
  margin-top: 40px;
  border-radius: 20px 20px 0px 0px;
}
.footerContainer {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.socialicons {
  a {
    color: white;
    font-size: 1.6vw;
    margin-left: 2vw;
  }
}
.copyright {
  font-size: 1vw;
  font-weight: 500;
}
