@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto;
  background: #f2f2f2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: black;
}

nav i {
  margin-left: 8px;
}

/* Nav Bar */
nav {
  background: white;
  border-radius: 0px 0px 30px 30px;
  font-weight: 500;
}

nav {
  font-size: 13px;
}

@media screen and (min-width: 1024px) {
  nav {
    font-size: calc(0.72115vw + 5.61538px);
  }
}

@media screen and (min-width: 1440px) {
  nav {
    font-size: 16px;
  }
}

.navContainer {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  height: 95px;
  width: auto;
}

.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navmenu:hover {
  color: #ffc728;
}

.menu:hover {
  color: #ffc728;
}

.currentStudents {
  position: relative;
  width: 160px;
  height: 30px;
}

.currentStudents a {
  display: block;
}

.currentStudents:hover {
  color: #ffc728;
}

.currentStudents:hover .currentStudentsDropdown {
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.currentStudents:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.prospectiveStudents {
  position: relative;
  width: 190px;
}

.prospectiveStudents a {
  display: block;
}

.prospectiveStudents:hover .prospectiveStudentsDropdown {
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.prospectiveStudents:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.currentStudentsDropdown {
  position: absolute;
  top: 100%;
  width: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: none;
  height: auto;
  background: #ffc728;
}

.currentStudentsDropdown a {
  padding: 15px;
}

.prospectiveStudentsDropdown {
  position: absolute;
  top: 100%;
  display: none;
  position: absolute;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: auto;
  width: 220px;
  background: #ffc728;
}

.prospectiveStudentsDropdown a {
  padding: 15px;
}

.events {
  width: 100px;
}

.ourTeam {
  width: 85px;
  height: 30px;
}

.sponsors {
  width: 80px;
}

.contactUs {
  width: 92px;
  height: 30px;
}

.bar {
  display: none;
}

.bar:hover {
  background: none;
}

/* Landing Page */
.landingSection {
  height: 88vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.leftContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.rightImage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.rightImage img {
  width: 100%;
  height: auto;
}

.content {
  width: 85%;
  margin: auto 0 0 auto;
  margin-bottom: 50px;
}

.content h1 {
  width: 60%;
  font-size: 3vw;
  font-weight: 900;
  line-height: 1.2;
}

.content p {
  margin-top: 20px;
  font-size: 18px;
}

.content p i {
  margin-left: 5px;
}

/* Who we are */
.whoweare {
  background: white;
  width: 75%;
  margin: auto;
  border-radius: 30px;
  height: auto;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 6vw;
}

.title {
  text-align: center;
  height: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title h1 {
  font-size: 3.2vw;
}

.sectioncontent {
  width: 50%;
}

.sectioncontent h3 {
  font-size: 2.1vw;
  padding: 0px 6px;
  margin-bottom: 20px;
  background: #f68b21;
  color: white;
  display: inline-block;
}

.sectioncontent p {
  line-height: 1.5;
  font-size: 14px;
}

.image {
  background: grey;
  height: 20vw;
  width: 35vw;
  position: absolute;
  right: 5%;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
}

.culture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.culture .image {
  position: absolute;
  left: 5%;
}

.service {
  margin-bottom: 0px;
  margin-top: 40px;
}

/* About Arizona State University */
.aboutASU {
  width: 85%;
  margin: auto;
  margin-top: 80px;
}

.aboutASU h1 {
  font-size: 2.5vw;
  margin-bottom: 20px;
}

.aboutcards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 1rem;
}

.aboutcard {
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.aboutimage {
  width: auto;
  background: gray;
  border-radius: 7px;
  margin-bottom: 20px;
  overflow: hidden;
}

.aboutimage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutcontent h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.aboutcontent p {
  font-size: 14px;
  line-height: 1.5;
  width: 95%;
}

/* About Tempe */
.aboutTempe {
  width: 85%;
  margin: auto;
  margin-top: 60px;
}

.aboutTempe h1 {
  font-size: 2.5vw;
  margin-bottom: 20px;
}

.aboutTempeCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutTempeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background: white;
  border-radius: 10px;
}

.aboutTempeCard h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.aboutTempeCard p {
  font-size: 14px;
  line-height: 1.5;
  width: 95%;
}

.aboutTempeimage {
  width: auto;
  border-radius: 7px;
  margin-bottom: 20px;
  overflow: hidden;
}

.aboutTempeimage img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutTempecontent {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 20px;
}

/* Footer */
footer {
  height: 100px;
  width: 100%;
  background: #f68b21;
  margin-top: 40px;
  border-radius: 20px 20px 0px 0px;
}

.footerContainer {
  width: 85%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.socialicons a {
  color: white;
  font-size: 25px;
  margin-left: 30px;
}

.copyright {
  font-size: 16px;
  font-weight: 500;
}

/* iPad Pro */
@media only screen and (max-width: 834px) and (orientation: portrait) {
  .navmenu {
    display: none;
  }
  .menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .bar {
    display: block;
    font-size: 3vw;
  }
  .menus.responsive .navmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    width: 60vw;
    height: 8vh;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 10px;
  }
  .prospectiveStudentsDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 50%;
    background: #ffc728;
  }
  .prospectiveStudentsDropdown a {
    padding: 15px;
  }
  .currentStudentsDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    display: none;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 50%;
    background: #ffc728;
  }
  .currentStudentsDropdown a {
    padding: 15px;
  }
  .currentStudents:hover,
  .prospectiveStudents:hover {
    padding: 15px;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0 16vw;
    margin-bottom: 40px;
  }
  .image {
    display: block;
    position: static;
    width: 60vw;
    height: 34vw;
  }
  .sectioncontent {
    width: 140%;
    margin-top: 20px;
  }
  .sectioncontent h3 {
    font-size: 22px;
  }
  .culture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .culture .image {
    position: static;
  }
  .service {
    height: 80vh;
    margin-top: -45px;
  }
  .aboutASU h1 {
    text-align: center;
    font-size: 30px;
  }
  .aboutTempe h1 {
    text-align: center;
    font-size: 30px;
  }
}

/* Android Tablets */
@media only screen and (max-width: 768px) {
  .navmenu {
    display: none;
  }
  .menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .bar {
    display: block;
    font-size: 3vw;
  }
  .menus.responsive .navmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    width: 60vw;
    height: 8vh;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 10px;
  }
  .prospectiveStudentsDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 50%;
    background: #ffc728;
  }
  .prospectiveStudentsDropdown a {
    padding: 15px;
  }
  .currentStudentsDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    display: none;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 50%;
    background: #ffc728;
  }
  .currentStudentsDropdown a {
    padding: 15px;
  }
  .currentStudents:hover,
  .prospectiveStudents:hover {
    padding: 15px;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0 16vw;
    margin-bottom: 40px;
  }
  .image {
    display: block;
    position: static;
    width: 60vw;
    height: 34vw;
  }
  .sectioncontent {
    width: 140%;
    margin-top: 20px;
  }
  .sectioncontent h3 {
    font-size: 22px;
  }
  .culture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .culture .image {
    position: static;
  }
  .aboutASU h1 {
    text-align: center;
    font-size: 30px;
  }
  .aboutTempe h1 {
    text-align: center;
    font-size: 30px;
  }
  .aboutTempeCards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutTempeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 500px) {
  nav i {
    font-size: 20px;
  }
  .landingSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .landingSection h1 {
    text-align: center;
    font-size: 26px;
    margin: 0;
  }
  .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content p {
    font-size: 14px;
  }
  .rightImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .leftContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navmenu {
    display: none;
  }
  .menus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .bar {
    display: block;
    font-size: 3vw;
  }
  .menus.responsive .navmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: right;
    width: 60vw;
    height: 8vh;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 10px;
  }
  .prospectiveStudentsDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 100%;
    background: #ffc728;
  }
  .prospectiveStudentsDropdown a {
    padding: 15px;
  }
  .currentStudentsDropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    display: none;
    position: absolute;
    -ms-flex-item-align: start;
        align-self: flex-start;
    height: auto;
    width: 100%;
    background: #ffc728;
  }
  .currentStudentsDropdown a {
    padding: 15px;
  }
  .currentStudents:hover,
  .prospectiveStudents:hover {
    padding: 15px;
  }
  .whoweare {
    width: 85%;
    height: auto;
    border-radius: 15px;
  }
  .whoweare h1 {
    font-size: 30px;
  }
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0 16vw;
    margin-bottom: 40px;
  }
  .service {
    margin-top: 40px;
  }
  .image {
    display: block;
    position: static;
    width: 75vw;
    height: 34vw;
  }
  .sectioncontent {
    width: 140%;
    margin-top: 20px;
  }
  .sectioncontent h3 {
    font-size: 22px;
  }
  .sectioncontent p {
    font-size: 12px;
  }
  .culture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .culture .image {
    position: static;
  }
  .aboutASU h1 {
    text-align: center;
    font-size: 26px;
  }
  .aboutASU p {
    font-size: 12px;
  }
  .aboutTempe h1 {
    text-align: center;
    font-size: 26px;
  }
  .aboutTempe p {
    font-size: 12px;
  }
  .aboutTempeCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutcards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 1rem;
  }
  .aboutTempecontent {
    margin: 0;
  }
  .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright {
    font-size: 12px;
  }
  .socialicons {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .socialicons a {
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */