* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$orange: #f68b21;
$gold: #ffc728;
body {
  font-family: Roboto;
  background: #f2f2f2;
  transition: all 0.5s ease;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  i {
    margin-left: 8px;
  }
}

nav {
  background: white;
  border-radius: 0px 0px 30px 30px;
  font-weight: 500;
}
.navContainer {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  img {
    height: 95px;
    width: auto;
  }
}
.menus {
  display: flex;
  width: 65%;
  justify-content: space-between;
  height: 100%;
}
.navmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    background: $gold;
  }
}
.menu {
  &:hover {
    background: $gold;
  }
}
.currentStudents {
  width: 160px;
  height: 30px;

  a {
    display: block;
  }
  &:hover {
    background: $gold;
  }
  &:hover .currentStudentsDropdown {
    display: block;
    transition: all 0.5s ease;
  }
  &:hover i {
    transform: rotate(180deg);
    transition: all 0.2s ease;
  }
}
.prospectiveStudents {
  width: 190px;
  a {
    display: block;
  }
  &:hover .prospectiveStudentsDropdown {
    display: block;
    transition: all 0.5s ease;
  }
  &:hover i {
    transform: rotate(180deg);
    transition: all 0.2s ease;
  }
}
.currentStudentsDropdown {
  position: absolute;
  top: 8.1%;
  width: 220px;
  align-self: flex-start;
  display: none;
  height: auto;
  background: $gold;
  a {
    padding: 15px;
  }
}
.prospectiveStudentsDropdown {
  position: absolute;
  top: 8.1%;
  display: none;
  position: absolute;
  align-self: flex-start;
  margin-top: 2px;
  height: auto;
  width: 220px;
  background: $gold;
  a {
    padding: 15px;
  }
}
.events {
  width: 100px;
}

.ourTeam {
  width: 85px;
  height: 30px;
}
.sponsors {
  width: 80px;
}
.contactUs {
  width: 92px;
  height: 30px;
}
